<div id="mask" style='position:absolute; top:40px;bottom:0px;left:0px;right:0px;z-index:9000;opacity: 0;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter: alpha(opacity=0);'></div>
<!-- Modal -->
<div class="modal" style="position: relative; top: 40px; left: auto; margin: 0 auto; z-index: 9999">
	<div class="modal-header">
		<h3>AED Details - #<%= @feature.internal_id %></h3>
		<a href="#" class="close">&times;</a>
	</div>
	<div class="modal-body"><p>
	<b>Address:</b> <%= @feature.address %>
	<p><b>Exact Location:</b> <%= @feature.exact_location %></p>
	<p><b>Best Access:</b> <%= @feature.best_access %></p>
	<p><b>Organization:</b> <%= @feature.organization %></p>
	<p><b>Contact:</b> <%= @feature.contact %></p>
	<p><b>Emergency Contact:</b> <%= @feature.emergency_contact %></p>
	<p><b>Emergency Phone:</b> <%= @feature.emergency_phone %></p>
	<p><b>Supervising Physician:</b> <%= @feature.supervising_physician %></p>
	<p><b>AED Type:</b> <%= @feature.aed_type %></p>
	<p><b>Number of Units:</b> <%= @feature.number_units %></p>
	<p><b>Date Implemented:</b> <%= @feature.date_implemented %></p>
	<p><b>Image:</b> <% if @feature.image.url(:thumb) != nil %><%= image_tag @feature.image.url(:thumb) %><% else %>No image.<% end %></p>
	<p><b>Validated:</b> <% if @feature.validated %>Yes.<% else %>No.<% end %></p>
	</div>
	<div class="modal-footer">
		<a href="#" class="btn success">Save</a>
		<a href="#" class="btn secondary">Cancel</a>
		<a href="#" class="btn danger">Remove</a>
	</div>
</div>