<!DOCTYPE html>
<html>
<head>
	<title>FireApp Console</title>
	<%= stylesheet_link_tag :all %>
	<%= javascript_include_tag :defaults %>
	<%= javascript_include_tag "http://maps.google.com/maps/api/js?sensor=false" %>
	<%= csrf_meta_tag %>
	<script>var activeTab = "#<%= params[:controller] %>_<%= params[:action] %>";</script>
</head>
<body style="height:100%;padding-top:40px">
	<div class="topbar-wrapper" style="z-index: 5;">
		<div class="topbar">
			<div class="topbar-inner">
				<div class="container-fluid">
					<h3><a href="/">FireApp Console</a></h3>
					<ul class="nav"><li id="features_index"><a href="/features">AED Map</a></li></ul>
					<ul class="nav"><li id="features_new"><a href="/features/new">+ Add AED</a></li></ul>
					<!-- <ul class="nav"><li id="reports_index"><a href="/reports">Reports</a></li></ul> -->
					<ul class="nav secondary-nav">
						<li class="dropdown">
							<a href="#" class="dropdown-toggle">Account</a>
							<ul class="dropdown-menu">
								<%= render 'devise/menu/registration_items' %>
								<li class="divider"></li>
								<%= render 'devise/menu/login_items' %>
							</ul>
						</li>
					</ul>
				</div>
			</div><!-- /topbar-inner -->
		</div><!-- /topbar -->
	</div><!-- /topbar-wrapper -->
	<div class="container">
		<%- flash.each do |name, msg| -%>
		<p><%= content_tag :div, msg, :class => 'alert-message success', :id => "flash_#{name}" if msg.is_a?(String) %></p>
		<%- end -%>
		<%= yield %>
	</div>
</body>
</html>
